$primary-color: #2196F3;
$primary-color-light: #64B5F6;
$secondary-color: #FF9800;
$secondary-color-dark: #df8000;
$background-color: #fafafa;
$black: #8d8d8d;
$transition-time: 0.3s;
$border-radius: 3px;

.app-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}




